/* Notification CSS */
.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

/* end.css */
body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    color: #333;
}

h2 {
    font-size: 2rem;
    margin: 10px 0;
}

h3 {
    font-size: 2.5rem;
    color: #4CAF50;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

.btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
