#player-turn {
    font-size: 2rem;
    font-weight: bold;
    color: #56a5eb;
    margin-bottom: 10px;
}

.choice-container {
    display: flex; /*flexbox*/
    margin-bottom: 0.5rem; /*default margin-bottom*/
    width: 100%; /*100% of container for easy child alignment*/
    font-size: 1.8rem; /*1.8 * 10px = 18px*/
    border: 0.1rem solid rgba(86, 165, 135, 0.25); /*0.1rem = 1px*/
    background-color: white; /*default background color*/
}

.choice-container:hover {
    cursor: pointer; /*change cursor on hover*/
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5); /*add shadow on hover*/
    transform: translateY(-0.1rem); /*move button up 1px*/
    transition: transform 150ms; /*add transition*/
}

.choice-prefix {
    padding: 1.5rem 2.5rem; /*1.5rem = 15px*/
    background-color: #56a5eb; /*default background color*/
    color:white; /*default text color*/
}

.choice-text {
    padding: 1.5rem; /*1.5rem = 15px*/
    width: 100%; /*100% of container for clickablity*/
}

/* HUD */
#hud {
    display: flex; /*flexbox*/
    justify-content: space-between; /*space between elements*/
}

.hud-prefix {
    text-align: center; /*center text*/
    font-size: 2rem; /*2 * 10px = 20px*/
}

.hud-main-text {
    text-align: center; /*center text*/
}

#progress-bar {
    width: 20rem; /*20 * 10px = 200px*/
    height: 2rem; /*2 * 10px = 20px*/
    border: 0.3rem solid #56a5eb; /*0.3rem = 3px*/
    margin: 1.8rem; /*1rem = 10px*/
}

#progress-fill {
    height: 1.6rem; /*1.5 * 10px = 25px*/
    background-color: #56a5eb; /*background color*/
    width: 0%; /*0% of progress bar at start*/
}

/* LOADER */
#loader {
    border: 1.6rem solid white; /*1.6rem = 16px*/
    border-radius: 50%; /*circle*/
    border-top: 1.6rem solid #56a5eb; /*1.6rem = 16px & top border blue*/
    width: 12rem; /*12 * 10px = 120px*/
    height: 12rem; /*12 * 10px = 120px*/
    animation: spin 2s forwards infinite; /*spin animation*/
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(720deg);
    }
}
