#high-scores {
    list-style: none; /*remove bullet points*/
    padding-left: 0; /*remove default padding*/
    margin-bottom: 4rem; /*4 * 10px = 40px*/
}

.high-score {
    font-size: 2.8rem; /*2.8 * 10px = 28px*/
    margin-bottom: 0.5rem; /*0.5 * 10px = 5px*/
}

.high-scores:hover {
    transform: scale(1.025); /*scale up on hover*/
}